<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"　lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(function () {
            $("#logout").on("click", function() {
                $("#indexForm").attr("action", "[[@{/logout}]]");
            });
        });
    </script>
</head>
<body>
    <div th:switch="${#authentication.principal}">
        <p th:case="anonymousUser" th:text="|未ログイン|"></p>
        <p th:case="*" th:text="|ようこそ ${#authentication.principal.username} さん|"></p>
    </div>
    <form th:action="@{/}" id="indexForm" method="POST">
        <input type="submit" id="login" name="login" value="login" />
        <input type="submit" id="protect" name="protect" value="protect" />
        <input type="submit" id="admin" name="admin" value="admin" />
        <input type="submit" id="logout" name="logout" value="logout" />
    </form>
</body>
</html>